html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 196, 190);
    color: #333;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 50px;
    margin: 0 auto;
    border-radius: 0px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 185, 190);
    height: 70px;
    text-align: center;
    font-size: larger;
    border-radius: 20px;
    border: solid #151515 5px;
    box-sizing: border-box;
    width: 40%;
    max-width: 40%;
    margin: 40px auto; 
}


.button {
    background-color: rgb(6, 59, 65);
    padding: 5px;
    width: 200px;
    font-size: 2rem;
    border: solid 2px #151515;
    transition: 0.5s;
    border-radius: 20px;
    color: #f9f9f9;
}

.button:hover {
    background-color: rgb(6, 199, 65);
    transition: 0.5s;
}

/* Sidebar Styles */
.side {
    position: fixed;
    left: 0;
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    z-index: 1;
    margin-left: 20px;
}

.side-2 {
    position: fixed;
    right: 0;
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 15px;
    z-index: 1;
    margin-right: 30px;
}


.button2 {
    background-color: rgb(6, 59, 65);
    padding: 15px;
    font-size: 1.5rem;
    border: solid 5px #151515;
    transition: 0.5s;
    border-radius: 20px;
}

.button2:hover {
    background-color: rgb(6, 199, 65);
    transition: 0.5s;
}

/* Footer Styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.section-box {
    max-width: 400px;
    position: relative;
}

.section-box-smaller {
    position: relative;
    max-width: 300px;
}

.section-box-smallest {
    position: relative;
    max-width: 250px;
}

.baerekraft-container {
    max-width: 600px; 
    margin: 50px;
    padding: 20px;
    background-color: rgb(225, 211, 196);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

.section-box, .section-box-smaller, .section-box-smallest {
    text-align: center;
    background: rgb(225, 211, 196);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.section-box img, .section-box-smaller img, .section-box-smallest img {
    width: 100%;
    border-radius: 8px;
}

.section-box .above-image-text, .section-box-smaller .above-image-text, .section-box-smallest .above-image-text {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.section-box .text-below, .section-box-smaller .text-below, .section-box-smallest .text-below {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.section-box .text-below div, .section-box-smaller .text-below div, .section-box-smallest .text-below div {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background: rgb(225, 211, 196);
    border: 1px solid black;
    border-radius: 4px;
}

.baerekraft-container {
    max-width: 600px;      
    margin: 50px ;
    padding: 20px;
    background-color: rgb(225, 211, 196);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.baerekraft-container a {
    color: rgb(6, 99, 65);;
}

.baerekraft-container a:hover {
    color: rgb(6, 199, 65);;
}

.ticket-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-section {
    margin: 20px 0;
    padding: 20px;
    background-color:  rgb(30, 44, 59);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(225, 211, 196);
    text-align: center;
}

.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgb(225, 211, 196);
}

.ticket h3 {
    margin: 0;
    font-size: 1.2em;
    color:  rgb(30, 44, 5);
}

.ticket p {
    margin: 5px 0;
    font-size: 1em;
    color: rgb(30, 44, 59);
}

.buy-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: rgb(225, 211, 196);
    background-color:  rgb(30, 44, 59);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: rgb(225, 231, 196);
}